{% extends "main.html" %}

{% block content %}

<div class="row">
  <div class="col-xs-8">
    <h2>Item</h2> 
  </div>
  <div class="col-xs-4 text-right">
    {% if current_user.is_authenticated %}
    <a href="{{url_for('editItem', category_id=category_id, item_id=item_id)}}" class="btn">Edit</a>
    <a href="{{url_for('deleteItem', category_id=category_id, item_id=item_id)}}" class="btn">Delete</a>
    {% endif %}
  </div>
</div>
<div class="row">
    <div class="col-xs-6">
      {{item.name}}
    </div>
    <div class="col-xs-6">
      Category: {{item.category.name}}
    </div>
    <div class="col-xs-12">
      <p>{{item.description}}</p>  
    </div>
    <div class="col-xs-12 text-right">
      <a href="{{url_for('showItems', category_id=category_id)}}" class="btn">Back to list of items</a>
    </div>
  </form>
</div>
{% endblock %}
